@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.App {
  background-color: #EEF0F4;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-size: 24px;
  margin: 0 10px 0 10px;
  width: 60px;
  height: 60px;
  border: none;
  background: #EEF0F4;
  border-radius: 15%;
  box-shadow: 10.81px 10.81px 20px #D9DADE, -10.81px -10.81px 20px #FFFFFF;
}

.btn:hover {
  background: linear-gradient(145deg, #FFFFFF, #C1C3C6);
  border-radius: 15%;
  box-shadow: inset 10.81px 10.81px 20px #D9DADE, inset -10.81px -10.81px 20px #FFFFFF;
}

.btn:active {
  background: #EEF0F4;
  border-radius: 15%;
  box-shadow: inset 10.81px 10.81px 20px #D9DADE, inset -10.81px -10.81px 20px #FFFFFF;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.display {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  font-size: xx-large;
  justify-content: flex-end;
}

.item {
  flex: 0 22%;
  height: 100px;
  margin-bottom: 2%;
  /* (100-32*3)/2 */
}